/*------------SECTION: FORMULARIO-------------*/

#formulario{
	background: url("../image/large.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 0%;
}
	.hero{
		background-color: rgba(45, 44, 65, 0.6);
	}
	.container{
		background: white;
		margin: 100px 250px 0 350px;
		border-top: 6px #1D75B0 solid;
	}
		.input{
			width: 310px;
		}
		.textarea{
			width: 310px;
		}
		.lb-a{
			margin-right: 12px;
		}
		.button{
			
			background: #1D75B0;
			color: white;
			border: none;
		}
		.inp-email{
			margin-left: 61px;
		}
		.lb-txtarea{
			display: inline-block;
		}
		.lb-txt{
			margin-left: -45px;
		    position: relative;
		    top: -101px;
		}
		.btn-form{
			margin-left: 193px;
		}
		.h1-form{
			font-size: 30px;
		}
		.hr-h1{
			margin-left: 80px;
    		margin-top: 10px;
		}
		.asterisco{
			color: red;
			display: inline-block;
		}
		.inp, .lb{
			display: inline-block;
		}
		.a-form{
			color: #1D75B0;
		}